.converter{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.top-h{
    width: 400px;
    margin: auto;
    text-align: center;
}

#from-curr, #to-curr{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    background-color: #ffe4c4;
    border-radius: 5px;
    border: 2px solid;
}

.from-curr-inp, .to-curr-inp{
    font-size: 30px;
    padding: 4px 10px;
    width: 200px;
    margin-top: 20px;
    border-radius: 5px;
}

.to-curr-inp{
    position: absolute;
}

.conv-btn{
    font-size: 20px;
    padding: 10px 30px;
    background-color: #20bfc1;
    color: #FFFFFF;
    border-radius: 5px;
    margin-top: 80px;
    cursor: pointer;
}

.btn-div{
    display: flex;
    width: 100px;
    margin: auto;
}